.scheduled-app {
  &-container {
    @apply flex mt-5;
  }
  &__user-list {
    flex: 0 0 200px;
    border-right: 1px solid #ccc;
    padding: 0 1rem;
  }
  &__schedule-calendar {
    flex: 1;
  }
}
